#calculator{
       border:1px solid rgb(237, 198, 198);
       border-radius: 5px;
       height: 11cm;
       width: 7cm;
}
#button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
#display{

    margin: 10px;
    width: 88%;
}
#button{
    margin: 10px;

    width: 50px;
    height: 40px;
    border: 1px solid;
}